@charset "utf-8";

.swiper {
    width: 100%;
    height: 100%;
}
/* To make Non-active slides shown with low opacity */
.swiper-slide {
    opacity: 0.25
}
/* Active slide */
.swiper-slide-active {
    opacity: 1
}
.swiper-slide img {
    max-width: 100%;
    height: 60vh;
}

/* Scrollbar */
.swiper-scrollbar {
    background-color: #835D27;
} .swiper-scrollbar-drag { background-color: #DC9456;}

/* Pagination Bullets */
.swiper-pagination {
    position: relative;
    margin-top: 0.5%;
} .swiper-pagination-bullet-active { background-color: #835D27; }

.swiper-button-next, .swiper-button-prev { color: #835D27; }